.category-global-container {
  padding: 100px 40px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 362.5px);
  gap: 20px;
  row-gap: 50px;
}
.category-title {
  font-size: 44px;
  margin-bottom: 25px;
  text-align: center;
}
