.authentication-container {
  display: flex;
  justify-content: space-between;
  width: 900px;

  @media (max-width: 900px) {
    width: auto;
  }

  margin: 0 auto;
  padding: 100px 10px;
}

@media only screen and (max-width: 720px) {
  .authentication-container {
    flex-direction: column;
    gap: 50px;
  }
}
